.icon-48-ore {
      background-image: url(../images/l_ore.png);
      padding-left:60px!important;
}

.icon-48-ora {
      background-image: url(../images/l_ore.png);
      padding-left:60px!important;
}

.icon-32-email-delete {
      background-image: url(../images/email-delete.png);
}

